<div class="row justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm border-success">
            <div class="card-header py-3 text-bg-success border-success">
                <h4 class="my-0 fw-normal">Basket</h4>
            </div>
            <div class="card-body" style="overflow-y: auto;">
                <h1 class="card-title pricing-card-title" style="height: 10%;">$@ViewBag.TotalPrice</h1>
                <ul class="list-unstyled mt-3 mb-4" style="height: 70%; overflow-y: auto;">
                    @foreach (var product in ViewBag.Products)
                    {
                        <li>1x @product</li>
                    }
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-success" style="height: 20%;">Pay</button>
            </div>
        </div>
    </div>
</div>
