@model List<Order>

    @if (Model != null){
<div class="row p-4">
    @foreach (var order in Model)
    {

        <div class="col-3">
            <div class="card mb-3">
                <h3 class="card-header">@order.ProductName</h3>
                <figure class="mb-4"><img class="img-fluid rounded" src="~/Images/@order.ProductImage" alt="..." style="height:300px; width:500px"></figure>
               
                <ul class="list-group list-group-flush">

          
                    <li class="list-group-item p-0" style="display:flex; justify-content:space-between; align-items:center">
                        <div><h3>@order.ProductPrice$</h3></div>
                       
                    </li>

                </ul>

            </div>
        </div>

    }
 

</div>


    }