@model AppUser
<div class="text-center">
    @if (User.Identity.IsAuthenticated){
     @User.Identity.Name
    }
    @Model.Name,@Model.Email,@Model.LastName,@Model.EmailConfirmed
  piç kuruları
</div>
